$icon-font-path: "../fonts/";

$clr-grey: #efefef;
$clr-blue: #00004d;
@import 'site.scss';
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.start{
  display: flex;
  justify-content: center;
}

.history{
  display: flex;
  flex-direction: column;
    .history-list{
      flex-grow:1;
        background-color: $clr-grey;
        min-height: 200px;
    }
}

.json {
  display: flex;
  flex-direction: column;
  .json-display {
    flex-grow: 1;
    width: 100%;
    max-height: 550px;
    overflow: auto;
  }
}
.links {
  display: flex;
  flex-direction: column;
  .links-display {
    flex-grow:1;
    background-color: $clr-grey;
    width: 100%;
    .link-line{
      width: 100%;
      .key{
        display: inline-block;
        width: 12rem;
      }

      .value{
        cursor:pointer;
        &:hover{
          font-size: larger;
          color: $clr-blue;
        }
      }
    }
  }
}