$clr-blue: #0000de;

.site{
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #dedede;
  .api{
    .desc-header{
      font-weight: bold;
    }
  }
  .authors{
    .author{
      margin-bottom: 3rem;
      cursor: pointer;
    }
  }
  .author{
    .author-img{
      height: auto;
    }
    .key{
      font-weight: bold;
      margin-top:1rem;
    }
  }
  .articles{
    .article{
      margin-top: 2.5rem;
    }
    .article-title{
      cursor: pointer;
      font-weight: bold;
    }
    .article-subtitle{
      .name{
        margin-right: 3rem;
        cursor: pointer;
        &:hover{
          color: $clr-blue;
        }
      }
      font-size: smaller;
    }
  }
  .article{
    .article-subtitle{
      margin-bottom: 2rem;
      .name{
        &:hover{
          color: $clr-blue;
          cursor: pointer;
        }
      }
    }
    .publish-date{
      font-size: smaller;
      margin-top: 1rem;
    }
  }
  .nav-bar{
    .links {
      display:flex;
      flex-direction:row;
      justify-content: flex-start;
      .btn{
        &:not(:first-child){
          margin-left: 0.5rem;
        }
        width: 100px;
      }
    }
  }
}